<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        
        <activity
            android:name=".EditAccountActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        
        <activity
            android:name=".MandateStatusActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>

</manifest>